# API Keys & Secrets
google_credentials.txt
OpenAI-Key.txt
weather_key.txt
.flask_secret
.env
.env*.local
mail_password.txt
mail_id.txt
supabase_db_url.txt
turso_db_url.txt
turso_auth_token.txt

# Python Build and Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/
